<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text = "${title}"></title>
    <link rel="stylesheet" th:href="@{/style/style.css}"/>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<main>
    <div>
        <h1>Добавление огнетушителя</h1>
        <form action="/fire/add" method="post">
            <label>Введите название отдела:</label>
            <input type="text" size="50" name="department"><br><br>
            <label>Введите номер огнетушителя:</label>
            <input type="text" size="50" name="number"><br><br>
            <label>Введите модель огнетушителя:</label>
            <input type="text" size="50" name="brand"><br><br>
            <label>Введите место установки огнетушителя:</label>
            <input type="text" size="50" name="place"><br><br>
            <label>Введите дату зарядки:</label>
            <input type="date" name="date_load"><br><br>
            <label>Введите дату перезарядки:</label>
            <input type="date" name="date_reload"><br><br>
            <button type="submit">Добавить огнетушитель</button>

        </form>
    </div>
</main>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>