<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Учет и состояние огнетушителей</title>
    <link rel="stylesheet" th:href="@{/style/style.css}"/>
</head>
<body>
    <header th:insert="blocks/header :: header"></header>
<main>
    <div>
        <table>
            <tr>
                <th>Служба</th>
                <th>Номер, присвоенный огнетушителю</th>
                <th>Марка огнетушителя</th>
                <th>Место установки огнетушителя</th>
                <th>Дата зарядки огнетушителя</th>
                <th>Дата плановой перезарядки огнетушителя</th>
            </tr>
            <tr th:each="el : ${lists}">
                <td th:text="${el.department}"/>
                <td th:text="${el.number}"/>
                <td th:text="${el.brand}"/>
                <td th:text="${el.place}"/>
                <td th:text="${#dates.format(el.date_load, 'MM.yyyy')}"/>
                <td th:text="${#dates.format(el.date_reload, 'MM.yyyy')}"/>
                <td><a th:href="'/fire/' + ${el.id}">Подробнее</a></td>
            </tr>
        </table>
    </div>
</main>
    <footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>