<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Учет и состояние огнетушителей</title>
    <link rel="stylesheet" th:href="@{/style/style.css}"/>

    <script src="/js/script.js"></script>

</head>
<body>

    <header th:insert="~{blocks/header :: header}"></header><main>
    <div>
        <table id="tableId">
            <tr>
                <th>Служба</th>
                <th>Ответственный</th>
                <th>Номер, присвоенный огнетушителю</th>
                <th>Марка огнетушителя</th>
                <th>Место установки огнетушителя</th>
                <th>Дата зарядки огнетушителя</th>
                <th>Дата плановой перезарядки огнетушителя</th>
                <th>Редактировать</th>
                <th>Удалить</th>
            </tr>
            <tr th:each="el : ${le}">
                <td th:text="${el.department}"/>
                <td th:text="${el.fio}"/>
                <td th:text="${el.number}"/>
                <td th:text="${el.brand}"/>
                <td th:text="${el.place}"/>
                <td th:text="${el.date_load}"/>
                <td th:text="${el.date_reload}"/>
                <td><a th:href="'/fire/' + ${el.id} + '/edit'">Редактировать</a></td>
                <td>
                    <form th:action="'/fire/' + ${el.id} + '/remove'" method="post">
                        <button type="submit">Удалить</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</main>
    <footer th:insert="~{blocks/footer :: footer}"></footer></body>
</html>